<md-card>
	<ngb-carousel>
	  <template ngbSlide>
	    <img src="http://lorempixel.com/1900/800?r=1" alt="Random first slide">
	    <div class="carousel-caption">
	      <h3>Chaitra Date</h3>
	      <p>If you can dream it, you can do it</p>
	    </div>
	  </template>
	  <template ngbSlide>
	    <img src="http://lorempixel.com/1900/800?r=2" alt="Random second slide">
	    <div class="carousel-caption">
	      <h3>Amit Anand</h3>
	      <p>Problems are not stop signs, they are guidelines</p>
	    </div>
	  </template>
	  <template ngbSlide>
	    <img src="http://lorempixel.com/1900/800?r=3" alt="Random third slide">
	    <div class="carousel-caption">
	      <h3>Abhinav Kumar</h3>
	      <p>to be the best.. BEAT THE BEST</p>
	    </div>
	  </template>
	</ngb-carousel>
</md-card>

