<md-card class = 'user-card'>
	<p *ngIf="successAlert">
	  <ngb-alert type="success" (close)="closeAlert('success')">
	     You are logged in successfully!! keep Twinning..
	  </ngb-alert>
	</p>
	<p *ngIf="errorAlert">
	  <ngb-alert type="danger" (close)="closeAlert('error')">
	     Sorry!! Invalid Credentials..
	  </ngb-alert>
	</p>
	<md-card-content>
		<form [formGroup]="loginForm" class="form-horizontal" (ngSubmit) = "onLogin()">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Remember me
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">Sign in</button>
		    </div>
		  </div>
		</form>
	</md-card-content>
	<md-card-footer>
	
	</md-card-footer>
	
</md-card>

